[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
flake8 = "*"

[packages]
django = "*"
django-crispy-forms = "*"
coverage = "*"
model-bakery = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
lazy-object-proxy = "*"
pygments = "*"
django-cryptography = "*"
django-oauth-toolkit = "*"
pillow = "*"
social-auth-app-django = "*"
python-decouple = "*"
httpie = "*"
django-ckeditor = "*"
isort = "*"
six = "*"
markdown2 = "*"
django-widget-tweaks = "*"
django-mptt = "*"
honeybadger = "*"
pre-commit = "*"
boto3 = "*"
django-storages = "*"
django-heroku = "*"
psycopg2 = "*"
newrelic = "*"
pylibmc = "*"

[requires]
python_version = "3.8"
