appdirs==1.4.4
astroid==2.4.2
autopep8==1.5.3
binary==1.0.0
cachetools==4.1.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
Deprecated==1.2.10
dirtreeutil==0.1.1
django-judge==0.1
docutils==0.16
future==0.18.2
google-api-core==1.21.0
google-auth==1.18.0
google-cloud-bigquery==1.25.0
google-cloud-core==1.3.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
idna==2.10
isort==4.3.21
keyring==21.2.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.0
pandas==1.1.1
pkginfo==1.5.0.1
progressbar2==3.51.4
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pygame==2.0.0.dev10
PyGithub==1.53
PyJWT==1.7.1
pylint==2.5.3
pypinfo==16.0.1
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.6
scipy==1.5.0
six==1.15.0
tinydb==3.15.2
tinyrecord==0.1.5
toml==0.10.1
tqdm==4.46.1
twine==3.2.0
urllib3==1.25.9
wrapt==1.12.1
