{%extends "notes/base.html"%}
{%load static%}
<html>
<link rel="shortcut icon" type="image/png" href="{%static 'assets/favicon.ico'%}" />

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{%static 'notes/editor.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="{%static 'notes/codemirror.css'%}" />
    <link rel="stylesheet" href="{%static 'notes/show-hint.css'%}" />

    <!-- Override CodeMirror div with a border -->
    <style>
        .CodeMirror{
            border: 1px solid #000000;
        }
    </style>
{% endblock %}
{%block body%}

    <script src="{%static 'js/script.js'%}"></script>

    <!-- Required libraries for CodeMirror  -->
    <script src="{%static 'js/codemirror.js'%}"></script>
    <script src="{%static 'js/javascript.js'%}"></script>
    <script src="{%static 'js/selection-pointer.js'%}"></script>
    <script src="{%static 'js/xml.js'%}"></script>
    <script src="{%static 'js/css.js'%}"></script>
    <script src="{%static 'js/vbscript.js'%}"></script>
    <script src="{%static 'js/htmlmixed.js'%}"></script>
    <script src="{%static 'js/placeholder.js'%}"></script>
    <script src="{%static 'js/show-hint.js'%}"></script>
    <script src="{%static 'js/css-hint.js'%}"></script>
    <script src="{%static 'js/continuecomment.js'%}"></script>
    <script src="{%static 'js/comment.js'%}"></script>

    <div class="code-area" id="code-area">
        <textarea rows="1" cols="1" style="height: 5%;" id="ytcode"
            placeholder="Insert YouTube Video Embed Code ( adjust height and width accordingly )"
            oninput="ytpreview()"></textarea>
        <textarea id="htmlCode" placeholder="HTML Code" onblur="showPreview()"></textarea>
        <textarea id="cssCode" placeholder="CSS Code" oninput="showPreview()"></textarea>
        <textarea id="jsCode" placeholder="JavaScript Code" onblur="showPreview()"></textarea> 
    </div>
    <div class="preview-area">
        <iframe id="preview-window"></iframe>
        <iframe id="ytvideo"></iframe>
    </div>

    <script src="{%static 'js/editor.js'%}"></script>
{%endblock%}

</html>
