{% extends "notes/base.html" %}
{% block content %}
<div class="content-section shadow">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Answer</legend>
            <h3>Are you sure you want to delete your answer?</h3>
            <small>
                <p>{{object.content|safe}}</p>
            </small>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'forum:detail' object.slug  %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
