{% extends "notes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section shadow">
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        <small>We urge you to read the <a href="{%url 'forum:guidelines'%}">Guidelines</a> first.</small>
        {% csrf_token %}
        <fieldset class="form-group">

            <legend class="border-bottom mb-4">Comment</legend>
            {{form.media}}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Comment.</button>
        </div>
    </form>
</div>
{% endblock content %}
