{%extends "notes/base.html"%}
{%block content%}

<div class="entry-content" itemprop="text">
    <h1>Forum Guidelines</h1>


    <p><a <a href="{%url 'forum:list'%}">Visit the Forum</a> |</p>
    <hr>
    <h3>1. No Spam in the forums</h3>

    <p>These forums define spam as unsolicited advertisement for goods, services and/or other web sites, or posts with
        little, or completely unrelated content. Do not spam the forums with links to your site or product, or try to
        self-promote your website, business or forums etc.<br> Spamming also includes sending private messages to a
        large number of different users.</p>

    <p><strong>DO NOT ASK for addresses or phone numbers.</strong></p>

    <h3>2. Do not post copyright-infringing material</h3>
    <p>Providing or asking for information on how to illegally obtain copyrighted materials is forbidden.</p>

    <h3>3. Do not post “offensive” posts, links or images</h3>
    <p>Any material which constitutes defamation, harassment, or abuse is strictly prohibited. Material that is sexually
        or otherwise obscene, racist, or otherwise overly discriminatory is not permitted on these forums. This includes
        user pictures. Use common sense while posting.<br> This is a web site for seasoned, intermediate and novice
        developers or anyone who seems to benefit from this.</p>

    <h3>4. Do not cross post questions</h3>
    <p>Please refrain from posting the same question in multiple categories. There is normally one category which is
        most
        suitable in which to post your question.</p>

    <h3>5. Do not unnecesarily PM users asking for help</h3>
    <p>Do not send private messages ( a feature to be available in the very near future ) to any users asking for help.
        If you need help, make a new thread in the appropriate
        forum then the whole community can help and benefit.</p>
    </p>


    <hr>

    <h2>General Posting Guidelines</h2>

    <p>In the world of <a href="http://www.catb.org/jargon/html/H/hacker.html">hackers</a>, the kind of answers you get
        to your technical questions depends as much on the way you
        ask the questions as on the difficulty of developing the answer.
        Read the guide below to understand how to ask questions in a way more likely to get you a satisfactory answer:
        <a href="http://www.catb.org/~esr/faqs/smart-questions.html">SMART QUESTIONS</a></p>

    Do not get confused by the word <a href="http://www.catb.org/jargon/html/H/hacker.html">hacker.</a>
    <hr>

    <h4>Moderator Policy</h4>

    <p>In Order To Apply To Be A Moderator You Must&nbsp;be:</p>

    <ul>

        <li>a forum regular</li>

        <li>have been at the forum for over 3 months</li>

        <li>have a positive presence on OpenTuition Forums</li>

        <li>be proactive</li>

        <li>knowledgeable in the Forums they would like to moderate.</li>

        <li>polite and helpful towards other members and give advice whenever needed and whenever possible.</li>

        <li>visit the forum each day, actively take part in discussions as often as possible, ideally once a day,

            setting a good example to the other members.</li>

        <li>take an active part in discussions between Moderators relating to the running of the forum.</li>

        <li>help to keep unsuitable content out of the forums as much as possible.</li>

    </ul>
</div>
{%endblock content%}
