{% extends "notes/base.html" %}
{%block content%}
<div class="shadow">
   <ul>
      <h1>About <a style="font-family:'Flavors' ;font-weight: bolder;  font-size:38px ;  background: linear-gradient(to right, #f12711, #f5af19);
         -webkit-background-clip: text; background-clip:text;
         -webkit-text-fill-color: transparent;" href="{%url 'notes:home'%}">DomeCode</a></h1></ul>
   <div class="article-content">
      <ul><p> <a style="font-family:'Flavors' ;font-weight: bolder;  font-size:24px ;  background: linear-gradient(to right, #f12711, #f5af19);
         -webkit-background-clip: text; background-clip:text;
         -webkit-text-fill-color: transparent;" href="{%url 'notes:home'%}">DomeCode</a> is an application that helps you learn and practice code with the appropriate tools and a curated
            list of resources through the philosophy of practice.

            It's an open-source platform where you can advance your coding journey with compiled resources to learn
            programming concepts, take notes, plan tasks, practice coding problems, discuss interesting
            stuff on the Forum, meet other developers and most all have the musical element with all of it without ever
            leaving the single workspace to navigate to dozen platforms. Essentially, get more with less hassle.</p></ul>
      <ul><h2>How did this start?</h2></ul>
      <ul><p><a style="font-family:'Flavors' ;font-weight: bolder;  font-size:24px ;  background: linear-gradient(to right, #f12711, #f5af19);
         -webkit-background-clip: text; background-clip:text;
         -webkit-text-fill-color: transparent;" href="{%url 'notes:home'%}">DomeCode</a> initially started as a project of mine out of the need to have a platform that fulfills the
            requirements of a programmer like me.

            It was right before Google CodeJam 2020 when I was practicing on some other platform where I had to have
            a separate notes application, a reminders app, a music app ( for lo-fi music ) and most of all various
            forums for learning optimization techniques along with occassional searches for simple things. I wished
            there was a way to have all of that at just one place without me needing to go to multiple websites cause
            that doesn't preserve the uniformity of my operation.

            That's when it occurred to me that there's still no mainstream platform like this, maybe I could try and
            build one and <a style="font-family:'Flavors' ;font-weight: bolder;  font-size:24px ;  background: linear-gradient(to right, #f12711, #f5af19);
            -webkit-background-clip: text; background-clip:text;
            -webkit-text-fill-color: transparent;" href="{%url 'notes:home'%}">DomeCode</a> was born !</p></ul>
   </div>
   <ul>
      <h2>Sponsor this Project</h2>
      <br>
      <p style="font-weight: bolder;">✨Go to the <a href="{%url 'notes:sponsor'%}">Sponsorship Page</a> for more
         information.✨</p>
   </ul>
   <br>
   <ul>
      <h2>Contact Us</h2>
   </ul><br>
   <ul>
      <p>Contact us at <code>help@domecode.com</code></p>
   </ul>
   <br>
   <ul>
      <h2>Terms of Service</h2>
   </ul><br>
   <ul>
      <p>Terms of Service are available <a href="{%url 'notes:tos'%}">here</a>.</p>
   </ul>
   <br>
   <ul>
      <h2>Privacy Policy</h2>
   </ul><br>
   <ul>Privacy Policy is available <a href="{%url 'notes:privacy'%}">here</a>.</ul>
   <br>
   <ul>
      <h2>Want to work on this?</h2>
   </ul><br>
   <ul>If you'd like to work on <a style="font-family:'Flavors' ;font-weight: bolder;  font-size:24px ;  background: linear-gradient(to right, #f12711, #f5af19);
      -webkit-background-clip: text; background-clip:text;
      -webkit-text-fill-color: transparent;" href="{%url 'notes:home'%}">DomeCode</a>, drop a mail at <code>iwantin@domecode.com</code> stating the reasons why you'd
      want to work on <a style="font-family:'Flavors' ;font-weight: bolder;  font-size:24px ;  background: linear-gradient(to right, #f12711, #f5af19);
      -webkit-background-clip: text; background-clip:text;
      -webkit-text-fill-color: transparent;" href="{%url 'notes:home'%}">DomeCode</a> and what you think can be improved about <a style="font-family:'Flavors' ;font-weight: bolder;  font-size:24px ;  background: linear-gradient(to right, #f12711, #f5af19);
      -webkit-background-clip: text; background-clip:text;
      -webkit-text-fill-color: transparent;" href="{%url 'notes:home'%}">DomeCode</a>.</ul>
   <br>
</div>
{%endblock content%}
