{% extends "notes/base.html" %}
{% block content %}
    <div class="content-section shadow">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Note</legend>
                <h2>Are you sure you want to delete the note? "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'notes:detail' object.slug  %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
