{% extends "notes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section shadow">
        <form method="POST" autocomplete ="off"  enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Notes</legend>
                {{form.media}}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Note it!</button>
            </div>
        </form>
        <p><a href="{%url 'notes:list'%}">Go Back</a></p>
    </div>
{% endblock content %}
