{% extends "notes/base.html" %}
{%block content%}
<div class="shadow">
    <ul>
        <h2 style="font-weight: bold;">Sponsor this Project</h2>
    </ul>
    <ul>
        <br>
        <p>
            <strong>DomeCode is an open-source project providing value to the community. I have built other Open Source
                Projects as well and some of them are being used for this platform. They are available on my <a
                    href="https://github.com/arthtyagi">Github</a>. Also, it will
                help keep this service running as long as it's free. Any sponsorships of over $20 a year would be
                publicly
                acknowledged.</strong>
        </p>
        <br>
    </ul>
    <ul>
        <h4 style="font-weight: bold; color: aqua;">Subscription Based</h4>
    </ul>
    <ul> <small>You are free, at any given point of time to opt out of the subscription sponsorship.</small></ul>
    <br>
    <ul> <strong> Use LiberaPay to support my other Open Source Projects as well and have a flexible Payment Plan
            <small>( USD and 20 other currencies including <a target=_blank href="https://user-images.githubusercontent.com/41021374/89222702-1ab41480-d5f3-11ea-8bc5-df354f0aeda8.png
                ">these</a> )</small> <strong>
                <br><br>
                <script src="https://liberapay.com/arthtyagi/widgets/button.js"></script>
                <noscript><a href="https://liberapay.com/arthtyagi/donate"><img alt="Donate using Liberapay"
                            src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
    </ul>

    <br>
    <ul>
        <h4 style="font-weight: bold; color: aqua;">Pay what you want</h4>
        <br>
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
        <script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'C0C4226J0'); kofiwidget2.draw();
        </script>
        <br><br>
        <p>You get to pick the amount you want to sponsor DomeCode with.
            <br>
        <h5>For Indian Users ( in INR )</h5>
        <br>
        <form>
            <script src="https://cdn.razorpay.com/static/widget/payment-button.js"
                data-payment_button_id="pl_FMP3iDBnPDrqdb" data-button_text="Sponsor DomeCode"
                data-button_theme="brand-color"> </script>
        </form>
        <br>
        <h5>For users outside of India ( in USD )</h5>
        <br>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target=_blank>
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="44S7824C2JDK6">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0"
                name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>
    </ul>
    <br>
</div>
</div>
{%endblock content%}
